include layouts/layout

.container.p-4

    if customers.length == 0
        h2 Sorry, there are currently no customers to display.
    else
        table.table.table-striped.m-auto(style='width: 50%;')
            thead
                tr
                    th(scope='col', style='color: #FFFFFF;').bg-black Name
                    th(scope='col', style='color: #FFFFFF;').bg-black Email
                    th(scope='col', style='color: #FFFFFF;').bg-black Total Sales
                    th(scope='col', style='color: #FFFFFF;').bg-black
            tbody
                each i in customers
                    tr
                        td= i.CustomerName
                        td= i.CustomerEmail
                        if i.TotalSales > 0
                            td= "$"+i.TotalSales
                        else
                            td= "$0.00"
                        td
                            form(method='get' action='/customers/' + i.CustomerID)
                                button( type='submit' class='btn btn-secondary') update